version: '2'
services:
  chummer-viewer:
    container_name: chummer-viewer
    build: .
    command: "npm start -- --host=0.0.0.0"
    ports:
      - 4200:4200
      - 49152:49152
    volumes:
      - .:/home/app/chummer-viewer
      - /home/app/chummer-viewer/node_modules
